html{
 background-image: linear-gradient(45deg,#26004d,black,#26004d);
 min-height: 100vh;
}

body{
 max-width: 1000px;
 padding: 0px 10px 20px 10px;
}

h1{
 color: #e6ccff;
 font-family: "Courier New", monospace;
}

t{
 color: lightblue;
 font-family: "Lucida Console", monospace;
}

.mainBody{
 margin-top: 50px;
 display: flex;
 flex-direction: column;
 padding: 0px 10px;
}

.mainBody > img {
 margin: 10px 0px 10px;
 max-width: 800px;
 height: auto;
}

.navBar{
 width: 99vw;
 position: fixed;
 z-index = 2;
 top: 0;
 left: 0;
 background-color: #e6ccff;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 margin: 5px;
 padding: 5px;
}

.navBar a{
 color: black;
 font-family: "Courier New", monospace;
 font-size: 20px;
 display: block;
}

.navBar a:hover{
 color: #26004d;
 text-decoration-line: overline underline;
 cursor: pointer;
}

a{
 color: lightgrey;
}

a:hover{
 color: white;
 cursor: pointer;
}
